@model OpenDagAppBackEnd.Models.Study

@{
    ViewBag.Title = "Edit";
}

<div class="bodyForms">
    <h2>Aanpassen</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend><h3>Studie</h3></legend>

            @Html.HiddenFor(model => model.Id)

            <!--Studyname-->
            <div class="control-group">
                <b>Naam</b>
                @*@Html.LabelFor(model => model.Name, new { @class = "control-label" })*@
                <div class="controls">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-inline" })
                </div>
            </div>

            <!--Shortname-->
            <div class="control-group">
                <b>Afkorting</b>
                @*@Html.LabelFor(model => model.ShortName, new { @class = "control-label" })*@
                <div class="controls">
                    @Html.EditorFor(model => model.ShortName)
                    @Html.ValidationMessageFor(model => model.ShortName, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color">
                <input type="submit" value="Save" class="btn" />
            </div>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Terug naar de lijst", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>