@model OpenDagAppBackEnd.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
	<legend><b>Question</b></legend>
	<dl>
		<dt>
            <b>Vraag</b>
            @*<b>@Html.DisplayNameFor(model => model.Text)</b>*@
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Text)
		</dd>

		<dt>
            <b>Survey Naam</b>
            @*<b>@Html.DisplayNameFor(model => model.Survey.Name)</b>*@
		</dt>

		<dd>
			@*@Html.DisplayFor(model => model.Survey.Name)*@
            @ViewBag.SurveyName
		</dd>

	</dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
