@model OpenDagAppBackEnd.Models.Survey

@{
    ViewBag.Title = "Details";
}

<div class="bodyForms">
    <h2>Details</h2>

    <fieldset>
        <legend>Vragenlijst</legend>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

        </dl>
    </fieldset>

    @if (ViewBag.Questions != null)
    {
        <table border="1">
            <tr>
                <th>
                    Vraag
                </th>
            </tr>
            @foreach (var a in ViewBag.Questions)
            {
                <tr>
                    <td>@a.Text</td>
                    <td>@Html.ActionLink("Aanpassen", "Edit", "Question", new { id = a.Id }, null)</td>
                    <td>@Html.ActionLink("Details", "Details", "Question", new { id = a.Id }, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Question", new { id = a.Id }, null)</td>
                </tr>
            }
        </table>
    }

    <p>
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>
</div>