@model OpenDagAppBackEnd.Models.Answer

@{
    ViewBag.Title = "Create";
}

<div class="bodyForms">
    <h2>Creëer</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend>Antwoord</legend>

            <div class="control-group">
                @Html.LabelFor(model => model.Text, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Text)
                    @Html.ValidationMessageFor(model => model.Text, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.QuestionId, "Question", new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownList("QuestionId", String.Empty)
                    @Html.ValidationMessageFor(model => model.QuestionId, null, new { @class = "help-inline" })
                </div>
            </div>


            <div class="form-actions no-color">
                <input type="submit" value="Create" class="btn" />
            </div>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*model OpenDagAppBackEnd.Models.AnswerStudy

    @{
        ViewBag.Title = "Create";
    }

    <h2>Creëer</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend>Antwoord</legend>

            <div class="control-group">
                @Html.LabelFor(model => model.Answer.Text, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Answer.Text)
                    @Html.ValidationMessageFor(model => model.Answer.Text, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Answer.Question.Text, "Question", new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownList("QuestionId", String.Empty)
                    @Html.ValidationMessageFor(model => model.Answer.Question.Text, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color">
                <input type="submit" value="Create" class="btn" />
            </div>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@