@model OpenDagAppBackEnd.Models.NavigationTrack

@{
    ViewBag.Title = "Details";
}

<div class="bodyForms">
    <h2>Details</h2>

    <fieldset>
        @*<legend>NavigationTrack</legend>*@
        <dl>
            @*<dt>
                @Html.DisplayNameFor(model => model.Route.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Route.Name)
            </dd>*@

            <dt>
                @*@Html.DisplayNameFor(model => model.FileName)*@
                <b>Bestandsnaam</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>*@
            
        </dl>
    </fieldset>
    <div>
        <img src="http://opendagzuyd2013-001-site1.smarterasp.net\@Model.Image" width="200px" height="200px" alt="" />
    </div>
    <p>
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>
</div>