@model OpenDagAppBackEnd.Models.NavigationTrack

@{
    ViewBag.Title = "Details";
}

<div class="bodyForms">
    <h2>Details</h2>

    <fieldset>
        <legend>NavigationTrack</legend>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Route.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Route.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

        </dl>
    </fieldset>
    <p>
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>
</div>