@model OpenDagAppBackEnd.Models.TimeTableEntry

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend><h3>Activiteit TimeTableEntry</h3></legend>

        <!--Name activity-->
        <div class="control-group">
            <b>Activiteit</b>
            @*@Html.LabelFor(model => model.Title, new { @class = "control-label" })*@
			<div class="controls">
				@Html.EditorFor(model => model.Title)
				@Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-inline" })
			</div>
		</div>

        <!--Description activity-->
        <div class="control-group">
            <b>Beschrijving activiteit</b>
            @*@Html.LabelFor(model => model.Description, new { @class = "control-label" })*@
			<div class="controls">
				@Html.EditorFor(model => model.Description)
				@Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-inline" })
			</div>
		</div>

        <!--Location where activity occurs-->
        <div class="control-group">
            <b>Locatie</b>
            @*@Html.LabelFor(model => model.Location, new { @class = "control-label" })*@
			<div class="controls">
				@Html.EditorFor(model => model.Location)
				@Html.ValidationMessageFor(model => model.Location, null, new { @class = "help-inline" })
			</div>
		</div>

        <!--StartTime-->
        <div class="control-group">
            <b>Begintijd</b>
            @*@Html.LabelFor(model => model.StartTime, new { @class = "control-label" })*@
			<div class="controls">
				@Html.EditorFor(model => model.StartTime) Format: hh:mm
				@Html.ValidationMessageFor(model => model.StartTime, null, new { @class = "help-inline" })
			</div>
		</div>

        <!--EndTime-->
        <div class="control-group">
            <b>Eindtijd</b>
            @*@Html.LabelFor(model => model.EndTime, new { @class = "control-label" })*@
			<div class="controls">
				@Html.EditorFor(model => model.EndTime) Format: hh:mm
				@Html.ValidationMessageFor(model => model.EndTime, null, new { @class = "help-inline" })
			</div>
		</div>

        <!--Timetable of the day-->
        <div class="control-group">
            <b>Dagprogramma</b>
            @*@Html.LabelFor(model => model.TimeTableId, "TimeTable", new { @class = "control-label" })*@
			<div class="controls">
				@Html.DropDownList("TimeTableId", String.Empty)
				@Html.ValidationMessageFor(model => model.TimeTableId, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

