@model OpenDagAppBackEnd.Models.TimeTableEntry

@{
    ViewBag.Title = "Delete";
}

<div class="bodyForms">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend><h3>TimeTableEntry</h3></legend>

        <dl>
            <dt>
                <b>Activiteit</b>
                @*@Html.DisplayNameFor(model => model.Title)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                <b>Beschrijving activiteit</b>
                @*@Html.DisplayNameFor(model => model.Description)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                <b>Locatie</b>
                @*@Html.DisplayNameFor(model => model.Location)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                <b>Begintijd</b>
                @*@Html.DisplayNameFor(model => model.StartTime)*@
            </dt>

            <dd>
                @Model.StartTime.TimeOfDay
                @*@Html.DisplayFor(model => model.StartTime)*@
            </dd>

            <dt>
                <b>Eindtijd</b>
                @*@Html.DisplayNameFor(model => model.EndTime)*@
            </dt>

            <dd>
                @Model.EndTime.TimeOfDay
                @*@Html.DisplayFor(model => model.EndTime)*@
            </dd>

            <dt>
                <b>Dagprogramma</b>
                @*@Html.DisplayNameFor(model => model.TimeTable.Id)*@
            </dt>

            <dd>
                @ViewBag.TimeTable.Day-@ViewBag.TimeTable.Month-@ViewBag.TimeTable.Year
                @*@Html.DisplayFor(model => model.TimeTable.Id)*@
            </dd>

        </dl>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>