@model OpenDagAppBackEnd.Models.StudyInformation

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_send").click(function () {
            var editor = CKEDITOR.instances['content'].getData();

            var studyInformation = {
                Title: $("#name_information").val(),
                Content: editor,
                StudyId: $("#study_select").val()
            };

            $.ajax({
                type: "POST",
                url: "../StudyInformation/Create",
                datatype: "json",
                contentType: 'application/json',
                data: JSON.stringify({
                    studyinformation: studyInformation
                }),
                success: function () {
                    window.location.href = '../StudyInformation/Index'
                },
                error: function () {
                    console.log("Mislukt");
                }
            });
        });
    });
</script>

<div class="bodyForms">
    <h2>Creëer studie informatie</h2>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <form>
        <p>
            <b>Naam</b><br />

            <input type="text" id="name_information" />
        </p>

        <p>
            <b>Informatie</b><br />
            <textarea class="ckeditor" cols="20" id="content" name="editor" rows="2"></textarea>
        </p>

        <p>
            <b>Studie</b><br />
            <select id="study_select">
                @foreach (var study in ViewBag.StudyId)
                {
                    <option value="@study.Id">@study.Name</option>
                }
            </select>
        </p>

        <p>
            <input type="button" id="btn_send" value="Create" />
        </p>
    </form>

    <div>
        @Html.ActionLink("Terug naar de lijst", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>