@model OpenDagAppBackEnd.Models.StudyInformation

@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_send").click(function () {
            var editor = CKEDITOR.instances['content'].getData();

            var studyInformation = {
                Id: $("#informationId").val(),
                Title: $("#name_information").val(),
                Content: editor,
                StudyId: $("#study_select").val()
            };

            $.ajax({
                type: "POST",
                url: "../Edit",
                datatype: "json",
                contentType: 'application/json',
                data: JSON.stringify({
                    studyinformation: studyInformation
                }),
                success: function () {
                    console.log("Gelukt");
                },
                error: function () {
                    console.log("Mislukt");
                }
            });
        });
    });
</script>

<div class="bodyForms">
    <p>
        <h2>Edit</h2>
    </p>

    <p>
        <input type="text" id="informationId" value="@Model.Id" hidden="hidden" />
    </p>

    <p>
        <b>Title</b><br />
        <input type="text" id="name_information" value="@Model.Title" />
    </p>

    <p>
        <b>Informatie</b>
        <textarea class="ckeditor" cols="20" id="content" name="editor" rows="2">
            @Model.Content
        </textarea>
    </p>

    <p>
        <b>Studie</b><br />
        <select id="study_select">
            @foreach (var study in ViewBag.StudyId)
            {
                <option value="@study.Id">@study.Name</option>
            }
        </select>
    </p>

    <p>
        <input type="button" id="btn_send" value="Edit" />
    </p>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@

</div>